{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="tile-left">
                <div class="tile-content">
                    <img src="{{asset('bundles/app/images/logo.png')}}" />
                    <div class="description">Playlist générée ! </div>
                </div>
            </div>
            <div id="tile-right">
                <div class="tile-content">
                    {{ form_start(form) }}
                    <div class="playlist-title"> Nom de la playlist : {{ form_widget(form.name) }}</div>

                    <ol class="playlist">
                        {% for track in form.tracks %}
                            <li>{{ track.vars.data.name }}</li>
                        {% endfor %}
                    </ol>
                    {{ form_widget(form.save) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
