{% extends 'two-tiles.html.twig' %}

{% block left %}
    <div class="description">Playlist générée ! Vous pouvez modifier le nom de votre playlist. Une fois qu'elle vous plaît, cliquez sur "Envoyer playlist" en-dessous de celle-ci pour la sauvegarder sur Deezer !</div>
    <div class="album-mosaic">
        {%  for i in 0..max_tracks %}
            <div class="album-cover"><img src="{{ form.tracks[i].vars.data.album.cover }}" title="{{ form.tracks[i].vars.data.album.name }}"/></div>
        {%  endfor %}
    </div>
{% endblock %}

{% block right %}
    {{ form_start(form) }}
    <div class="playlist-title"> {{ form_widget(form.name) }}</div>

    <ol class="playlist">
        {% for track in form.tracks %}
            <li>
                <span class="album-cover">
                    <img src="{{ track.vars.data.album.coverSmall }}" />
                </span>
                <div class="track-description">
                    <div class="track-name">
                        {{ track.vars.data.name }}
                    </div>
                    <div class="track-album">
                        {{ track.vars.data.album.name }}
                    </div>
                    <div class="track-artist">
                        {{ track.vars.data.album.artistName }}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ol>
    {{ form_widget(form.tracks) }}
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
{% endblock %}