{% extends 'two-tiles.html.twig' %}

{% block left %}
    <img src="{{asset('bundles/app/images/logo.png')}}" />
    <div class="description">Préparation de la génération</div>
{% endblock %}

{% block right %}
    <div class="title">Préparez votre playlist !</div>
    <div class="description">Choisissez ci-dessous la manière dont vous voulez générer votre playlist !</div>
    {{ form_start(form) }}
    <div class="form-row">
        <div class="label">
            {{ form_label(form.tracks_number) }}
        </div>
        <div class="value">
            {{ form_widget(form.tracks_number) }}
        </div>
    </div>
    <div class="form-submit">
        {{ form_label(form.save) }}
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}
{% endblock %}